{{set root=".."}}
{{> header title='집으로 주문하기 : 얍플레이스(YAP Place)' cssName='delivery'}}

<div id="delivery-contents">
	<div class="top-img-bar">
		<div class="top-img-bar-darker">
			<div class="top-img-bar-text">
				<div class="top-img-bar-title">
					한 번 먹어봐야 할 최고의 음식,<br>
					집으로 주문해서 편하게 즐겨보세요.
				</div>
				<div class="delivery-manual">
					<div class="delivery-manual-text">
						※ 집으로 주문하기?
					</div>
					<div class="delivery-manual-layer">
						<div class="delivery-manual-layer-box">
							<div class="title-cover">
								<div class="delivery-layer-img"></div>
								<div class="delivery-layer-title">
									꼭 한 번 먹어봐야 할 정말 맛있는 음식<br>
									<strong>집으로 주문하기!</strong>
								</div>
								<div class="delivery-layer-description">
									들어는 봤지만 너무 멀어 가기 힘들 때,<br>
									또 가보고 싶지만 지금 당장 가기 힘들 때,<br>
									이젠 집으로 주문해서 편하게 즐겨 보세요!
								</div>
							</div>
							<div class="info-contents">
								<div class="info-contents-title">
									어떻게 주문하나요?
								</div>
								<ul class="order-method">
									<li class="step1">음식 선택</li>
									<li class="step2">배송날짜 선택</li>
									<li class="step3">주문서 작성 후 결제</li>
									<li class="step4">맛있는 음식 준비</li>
									<li class="step5">집으로 배송</li>
								</ul>
							</div>
							<div class="big-close-btn"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="delivery-container">
		<div class="delivery-body">
			<div class="delivery-filter-area">
				<div class="delivery-category">
					<ul>
						<li>전체</li>
					</ul>
				</div>
				<div class="delivery-filter">
					<ul>
						<li class="active">추천순</li>
						<li>최신순</li>
						<li>인기순</li>
						<li>낮은 가격순</li>
					</ul>
				</div>
			</div>
			<div class="delivery-list-area">
				<div class="delivery-list-default">
					<div class="delivery-list-default-text">
						조건에 맞는 상품을 준비하고 있습니다.<br>
						조건을 바꿔 주문 가능한 상품을 만나보세요.
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{{> footer jsName='delivery'}}
