{{set root=".."}}
{{set pageId="mypage"}}
{{> header title='마이 - 좋아요 : 얍플레이스(YAP Place)' cssName='my.like'}}

			{{> my.common}}

			<div class="mypage-contents">
				<div class="mypage-filter">
					<ul class="mypage-category">
						<li class="my-like-store">매장</li>
						<li class="my-like-theme active">테마</li>
						<li class="my-like-products">상품</li>
					</ul>
				</div>
				<div class="content-body">
					<div class="mypage-default-text">
						마음에 드는 테마를 좋아요 해보세요.
					</div>
					<div class="my-list">

					</div>
				</div>
			</div>
		</div>



{{> footer jsName='my.common'}}
