{{set root=".."}}
{{set pageId="mypage"}}
{{> header title='마이 - 주문 : 얍플레이스(YAP Place)' cssName='my.order'}}

			{{> my.common}}

			<div class="mypage-contents">
				<div class="mypage-filter">
					<ul class="mypage-category">
						<li class="my-order-history">주문 내역</li>
						<li class="my-order-review active">상품 후기</li>
						<li class="my-order-inquiry">상품 문의</li>
					</ul>
				</div>
				<div class="content-body">
					<div class="mypage-default-text">
						상품을 주문하고 소중한 후기를 남겨주세요.
					</div>
					<div class="my-list">

					</div>
				</div>
			</div>
		</div>




{{> footer jsName='my.common'}}
