{{set root=".."}}
{{set pageId="mypage"}}
{{> header title='마이 - 주문 : 얍플레이스(YAP Place)' cssName='my.order'}}

			{{> my.common}}

			<div class="mypage-contents">
				<div class="mypage-filter">
					<ul class="mypage-category">
						<li class="my-order-history active">주문 내역</li>
						<li class="my-order-review">상품 후기</li>
						<li class="my-order-inquiry">상품 문의</li>
					</ul>
				</div>
				<div class="content-body">
					<div class="mypage-default-text">
						직접 가기 힘든 전국구 맛집!<br>
						이제 집으로 주문해서 편하게 즐겨보세요.
					</div>
					<div class="possible-order-btn">
						<a href="http://localhost:82/delivery.html" title="상품 리스트 페이지로 이동">
							<div>주문 가능한 상품 목록 보기</div>
						</a>
					</div>
					<div class="my-list">
					</div>
				</div>
			</div>
		</div>



{{> footer jsName='my.common'}}
