{{> header title='대흥역 추천 맛집 순위 : 얍플레이스(YAP Place)' cssName='search'}}

<div id="search-contents">
	<div class="top-menu-bar">
		<div class="top-menu-bar-container">
			<div class="top-menu-bar-body">
				<div class="top-menu-bar local-category-area">
					<div class="top-menu-bar local-keyword">
						대흥역
					</div>
					<div class="total-amount">
						총 <span>13</span>곳 맛집 추천
					</div>
				</div>
				<div class="top-menu-bar search-map-btn">
					<div class="search-map-btn-text">지도검색</div>
				</div>
				<div class="top-menu-bar share-btn-area">
					<div class="top-menu-bar search-share-btn"></div>
					<div class="top-menu-bar share-btn-layer">
						<div class="share-btn-layer-container">
							<div class="share-btn-layer-box">
								<div class="share-btn-layer-body">
									<div class="share-btn-layer-body-wrap">
										<div class="share-btn-layer-title">
											공유하기
										</div>
										<i class="layer-close-button" style="background-image: url('img/sp-button-close.png')"></i>
										<div class="share-btn-layer sns-share-btn">
											<div class="kakao-share-btn"></div>
											<div class="facebook-share-btn"></div>
											<div class="twitter-share-btn"></div>
											<div class="link-share-btn" data-clipboard-text="http://localhost:82/hotple.html"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="search-filter-container">
		<ul class="search-filter">
			<li class="click-filter popular">
				<div class="click-filter-img"></div>
				<div class="click-filter-text">
					인기
				</div>
			</li>
			<li class="click-filter special">
				<div class="click-filter-img"></div>
				<div class="click-filter-text">
					블루리본
				</div>
			</li>
			<li class="click-filter filter">
				<div class="click-filter-img"></div>
				<div class="click-filter-text">
					필터
				</div>
			</li>
		</ul>
	</div>
	<div class=""></div>

{{> footer jsName='search'}}
