{{set root="../.."}}

<div class="filter-layer">
	<div class="filter-top-bar">
		<span class="reset-btn">
			초기화
		</span>
			필터
		<span class="submit-btn">
			확인
		</span>
	</div>
	<div class="filter-layer-body">
		<div class="filter-section purpose">
			<div class="filter-description">
				 어떤 목적으로 찾으시나요?
			</div>
			<ul>
				<li class="purpose-meal">
					<div class="filter-ico"></div>
					<div class="filter-text">
						식사
					</div>
				</li>
				<li class="purpose-dessert">
					<div class="filter-ico"></div>
					<div class="filter-text">
						디저트
					</div>
				</li>
				<li class="purpose-drink">
					<div class="filter-ico"></div>
					<div class="filter-text">
						술집
					</div>
				</li>
			</ul>
		</div>
		<div class="filter-section budget">
			<div class="filter-description">
				예산은 얼마인가요? (2인 기준)
			</div>
			<div class="budget-slider-wrap">
				<input id="budget-slider" type="text"
					   data-provide="slider"
					   data-slider-tooltip="hide"
					   data-slider-range="true"
					   data-slider-min="0"
					   data-slider-max="4"
					   data-slider-ticks="[0, 1, 2, 3, 4]"
					   data-slider-ticks_positions="[0, 25, 50, 75, 100]"
					   data-slider-step="1"
					   data-slider-value="[0,4]"
					   data-slider-handle="round">
				<div class="price">
					<span class="price1">1만원</span>
					<span class="price2">2만원</span>
					<span class="price3">5만원</span>
					<span class="price4">10만원</span>
					<span class="price5">10만원 이상</span>
				</div>
			</div>
		</div>
		<div class="filter-section menu">
			<div class="filter-description">
				찾으시는 메뉴가 있나요?
			</div>
			<ul class="white-wrap">
				<li class="rice">
					<div class="filter-ico"></div>
					<div class="filter-text">
						밥집
					</div>
				</li>
				<li class="noodle">
					<div class="filter-ico"></div>
					<div class="filter-text">
						면요리
					</div>
				</li>
				<li class="meat">
					<div class="filter-ico"></div>
					<div class="filter-text">
						고깃집
					</div>
				</li>
				<li class="chicken">
					<div class="filter-ico"></div>
					<div class="filter-text">
						치킨
					</div>
				</li>
				<li class="seafood">
					<div class="filter-ico"></div>
					<div class="filter-text">
						횟집
					</div>
				</li>
				<li class="japanese">
					<div class="filter-ico"></div>
					<div class="filter-text">
						일식
					</div>
				</li>
				<li class="chinese">
					<div class="filter-ico"></div>
					<div class="filter-text">
						중식
					</div>
				</li>
				<li class="western">
					<div class="filter-ico"></div>
					<div class="filter-text">
						양식
					</div>
				</li>
				<li class="asia">
					<div class="filter-ico"></div>
					<div class="filter-text">
						아시아
					</div>
				</li>
				<li class="snack">
					<div class="filter-ico"></div>
					<div class="filter-text">
						분식
					</div>
				</li>
				<li class="cafe">
					<div class="filter-ico"></div>
					<div class="filter-text">
						카페
					</div>
				</li>
				<li class="bakery">
					<div class="filter-ico"></div>
					<div class="filter-text">
						베이커리
					</div>
				</li>
				<li class="pubbar">
					<div class="filter-ico"></div>
					<div class="filter-text">
						펍바
					</div>
				</li>
				<li class="pub">
					<div class="filter-ico"></div>
					<div class="filter-text">
						포차주점
					</div>
				</li>
			</ul>
		</div>
		<div class="filter-section with-who">
			<div class="filter-description">
				누구랑 가시나요?
			</div>
			<ul class="white-wrap">
				<li class="who-date">
					<div class="checkbox-circle"></div>
					<div class="who-label">
						데이트
					</div>
					<div class="who-tag">
						#로맨틱 #성공적 #데이트코스 #오빠랑 #소개팅
					</div>
				</li>
				<li class="who-friends">
					<div class="checkbox-circle"></div>
					<div class="who-label">
						친구
					</div>
					<div class="who-tag">
						#편안한 #친구랑 #절친 #동기들이랑
					</div>
				</li>
				<li class="who-family">
					<div class="checkbox-circle"></div>
					<div class="who-label">
						가족
					</div>
					<div class="who-tag">
						#가족들이랑 #부모님모시고 #아이와함께
					</div>
				</li>
				<li class="who-meeting">
					<div class="checkbox-circle"></div>
					<div class="who-label">
						모임
					</div>
					<div class="who-tag">
						#시끌시끌 #회식 #단체모임 #동기모임 #동료들과
					</div>
				</li>
				<li class="who-alone">
					<div class="checkbox-circle"></div>
					<div class="who-label">
						혼자
					</div>
					<div class="who-tag">
						#나홀로 #혼자먹기 #혼밥 #혼자와서
					</div>
				</li>
			</ul>
		</div>
		<div class="filter-section special-service">
			<div class="filter-description">
				특별한 서비스를 원하시나요?
			</div>
			<ul class="white-wrap">
				<li class="service-select parking">
					<div>
						주차가능
					</div>
				</li>
				<li class="service-select outdoor">
					<div>
						야외좌석
					</div>
				</li>
				<li class="service-select child">
					<div>
						유아시설
					</div>
				</li>
				<li class="service-select lunch">
					<div>
						런치메뉴
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>
