{{set root="../.."}}

<div class="local-list">
	<div class="local-list-container">
		<div class="local-list-body">
			<div class="local-list-title">
				인기지역
			</div>
			<div class="local-list-area">
				<ul class="local-category">
					<li class="su active">서울</li>
					<li class="gk">경기</li>
					<li class="ic">인천</li>
					<li class="dj">대전</li>
					<li class="dk">대구</li>
					<li class="bs">부산</li>
					<li class="us">울산</li>
					<li class="gj">광주</li>
					<li class="jj">제주</li>
					<li class="kw">강원</li>
					<li class="cb">충북</li>
					<li class="cn">충남</li>
					<li class="kb">경북</li>
					<li class="kn">경남</li>
					<li class="jb">전북</li>
					<li class="jn">전남</li>
				</ul>
				<div class="local-scope">
					<ul class="su-gn">
						<div class="local-scope-title">
							서울강남(34)
						</div>
						<li>가로수길</li>
						<li>강남구청</li>
						<li>강남언덕길</li>
						<li>강남역</li>
						<li>고속터미널</li>
						<li>교대역</li>
						<li>남부터미널</li>
						<li>논현</li>
						<li>도산대로</li>
						<li>사당역</li>
						<li>삼성</li>
						<li>서래마을</li>
						<li>서울대입구</li>
						<li>선릉역</li>
						<li>신림역</li>
						<li>신천역</li>
						<li>압구정로데오</li>
						<li>압구정역</li>
						<li>양재역</li>
						<li>여의도</li>
						<li>역삼</li>
						<li>천호역</li>
						<li>청담</li>
						<br>
						<li>서울 강남구</li>
						<li>서울 강동구</li>
						<li>서울 강서구</li>
						<li>서울 관악구</li>
						<li>서울 구로구</li>
						<li>서울 금천구</li>
						<li>서울 동작구</li>
						<li>서울 서초구</li>
						<li>서울 송파구</li>
						<li>서울 양천구</li>
						<li>서울 영등포구</li>
					</ul>
					<ul class="su-gb">
						<div class="local-scope-title">
							서울강북(41)
						</div>
						<li>건대</li>
						<li>경리단길</li>
						<li>광화문</li>
						<li>대학로</li>
						<li>독서당길</li>
						<li>명동</li>
						<li>보석길</li>
						<li>부암동</li>
						<li>북촌</li>
						<li>삼청동</li>
						<li>상수</li>
						<li>서촌</li>
						<li>성북동</li>
						<li>숙대입구역</li>
						<li>시청</li>
						<li>신촌</li>
						<li>연남동</li>
						<li>연희동</li>
						<li>우사단로</li>
						<li>이대앞</li>
						<li>이촌</li>
						<li>이태원</li>
						<li>인사동</li>
						<li>한강진</li>
						<li>합정</li>
						<li>해방촌</li>
						<li>홍대</li>
						<br>
						<li>서울 강북구</li>
						<li>서울 광진구</li>
						<li>서울 노원구</li>
						<li>서울 도봉구</li>
						<li>서울 동대문구</li>
						<li>서울 마포구</li>
						<li>서울 서대문구</li>
						<li>서울 성동구</li>
						<li>서울 성북구</li>
						<li>서울 용산구</li>
						<li>서울 은평구</li>
						<li>서울 종로구</li>
						<li>서울 중구</li>
						<li>서울 중량구</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
