{{set root="../.."}}

<div id="search-filter" class="body">
	<ul class="search-filter">
		<li class="click-filter popular">
			<div class="click-filter-img"></div>
			<div class="click-filter-text">
				인기
			</div>
		</li>
		<li class="click-filter special">
			<div class="click-filter-img"></div>
			<div class="click-filter-text">
				블루리본
			</div>
		</li>
		<li class="click-filter filter">
			<div class="click-filter-img"></div>
			<div class="click-filter-text">
				필터
			</div>
		</li>
	</ul>
</div>

